<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description | e('html_attr') }}">
    {% block meta %}{% endblock %}

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ puppy.assetUrl('main.css') }}">
    {% endblock %}
  </head>
  <body>
    <div class="home-content">

      {% block header %}{% endblock %}

      {% block content %}{% endblock %}

      {% block footer %}{% endblock %}

    </div>

    {% block scripts %}
    <script type="text/javascript" src="{{ puppy.assetUrl('vendor.js') }}"></script>
    <script type="text/javascript" src="{{ puppy.assetUrl('main.js') }}"></script>
    {% endblock %}
  </body>
</html>
