{% set config = site.data['menu.json'] %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ puppy.assetUrl('reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ puppy.assetUrl('menu.css') }}">
    {% endblock %}
  </head>
  <body>
    <main class="home-main">
      <header class="home-header">
        <div class="home-header__ups-lockup">
          {% include '../svgs/menu/ups-logo.twig' %}
          {% if  config.header_links|length %}
          <nav class="home-header__outlinks">
            <ul class="home-header__outlinks-list">
              {% for link in config.header_links %}
              <li class="home-header__outlinks-item">
                <a class="home-header__outlinks-link" href="{{ link.url }}">{{ link.label }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
          {% endif %}
        </div>
        <h1 class="home-header__title">{{ page.title }}</h1>
      </header>

      {% block menu %}{% endblock %}

      <footer class="home-footer">
        <div class="home-footer__inner">
          <p><a href="https://github.com/Upstatement/puppy-starter">Built with Puppy</a></p>
        </div>
      </footer>
    </main>
  </body>
</html>

